body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 70, 70);
}

canvas {
  border: 5px solid rgb(0, 0, 0);
}

#hud {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
}